header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #040F0F;
    z-index: 1; /* Ensures header stays on top of other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    font-size: 8px;
    font-weight: bold;
    color: #C9FBFF;
    margin-left: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li {
    text-decoration: none;
    color: #85BDBF;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  nav li:hover {
    color: #C9FBFF;
  }
  
  nav li.active {
    color: #C9FBFF;
    border-bottom: 2px solid #C9FBFF;
  }